# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz
redis-server/
TODO.txt
.vscode/
sessions/
.prettierrc
dump.rdb