<div>
    <% errors.forEach(function(error) { %>
    <div>
        <%= error %>
    </div>
    <% }) %> <% infos.forEach(function(info) { %>
    <div>
        <%= info %>
    </div>
    <% }) %>
</div>
