<!DOCTYPE html>
<html lang="en">
    <head>
        <% include _head %>
        <title>URL Shortener</title>
    </head>
    <body>
        <% include _navbar %>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Log in</h1>
                    <% include _flash %>
                    <form action="/login" method="post">
                        <input
                            name="username"
                            type="text"
                            placeholder="Username"
                            required
                            autofocus
                        />
                        <input
                            name="password"
                            type="password"
                            placeholder="Password"
                            required
                        />
                        <input type="submit" value="Log in" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
